SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/flowpilot
SPRING_DATASOURCE_USERNAME=flowpilot
SPRING_DATASOURCE_PASSWORD=flowpilot
BPMN_ENGINE_URL=http://cibseven:8080/engine-rest
APP_CRYPTO_SECRET=1234567890123456
JWT_SECRET=please-change-this-secret-jwt-flowpilot-viettel-digital-talent-2026
